body {
    background: #FAFAFA;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header {
    height: 90px;
}

.footer {
    height: 150px;
}

.content {
    flex: 1;
    height: cal(100% - 240px);
    overflow-x: hidden;
    overflow-y: auto;
}



.box {
    height: 90px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #FFFFFF;
}

.navbox {
    display: flex;
    height: 50px;
    width: 1050px;
    align-items: center;
}

.navbox div,ul,li,a,img,input {
    display: inline-flex;
}

.logo {
    left: 0;
    width: 106px;
    height: 24px;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 1.11px;

    color: #666666;
}

.search {
    width: 293px;
    height: 17px;
    margin-left: 50px;

}

.search-icon {
    width: 13px;
    height: 13px;
}

.search-input-content {
    margin-left: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    
    color: #CCCCCC;
}

.navbar {
    margin-left: 67px;
}

.navbar-content {
    justify-content: space-between;
    align-items: flex-start;  
    align-content: space-between;

    width: 234px;
    line-height: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;

    color: #999999;
}

.personal-center {
    margin-left: 107px;
}

.personal-center-content {
    justify-content: space-between;
    align-items: center;  
    align-content: space-between;

    width: 195px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;

    color: #999999;
}

#nav-favorite-icon {
    width: 20px;
    height: 18.35px;
}

.profile {
    justify-content: space-between;
    align-items: center;  
    align-content: space-between;
    width: 73px;
}

.profile img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

#profile-down-icon {
    width: 10px;
    height: 6px;
}

.banner {
    height: 270px;
    width: 1440px;
    margin: auto;

    display: flex;
    background: #FFFFFF;
}

.banner-slide {
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: relative;
}

.banner div{
    display: inline-flex;
}

#banner-switch-icon {
    position: absolute;
    width: 1380px;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    bottom: 90px;
}

.banner-icon-box {
    display: inline-block;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #666666;
    opacity: 0.4;
    bottom: 90px;
    text-align:center;
}
.banner-icon-box:hover {
    background-color: #1875F0;
}


.banner-icon-box img{
    width: 20px;
    height: 20px;
    margin:auto;
}

#banner-icon-left img{
    transform: rotateY(180deg);
}


.banner-content {
    z-index: 0;
    width: 3300px;
    padding-left: -112.5px;
    animation: move 15s ease 1s infinite;
}

.banner-img {
    width: 555px;
}

.banner-img img {
    width: 555px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.banner-content-des {
    width: 555px;
    z-index: 0;
    flex-direction: column;
    position: absolute;
    top: 160px;

}

.banner-content-title {
    width: 100%;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

.banner-content-detail {
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

@keyframes move {
	0% {
		transform: translate(-112.5px);
	}
	33.33% {
		transform: translate(-667.5px);
	}
	66.66% {
		transform: translate(-1222.5px);
	}
    100% {
		transform: translate(-1777.5px);
	}
}

.headnav-box {
    width: 1440px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    border-bottom:  #F0F0F0 solid;
}

.headnav-content-box {
    height: 100px;
    margin-top: 50px;
    align-items: baseline;
    justify-content: space-around;
}

.headnav-box div,ul,li {
    display: inline-flex;
}

.headnav-label {
    width: 180px;
    opacity: 1;

    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0px;

    color: #4D4D4D;
}

.headnav-tabs {
    margin-left: 100px;

    justify-content: space-between;
    align-items: flex-start;  
    align-content: space-between;

    width: 780px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;

    color: #999999;
}
.selected {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    height: 70px;
    letter-spacing: 0px;
    text-align: top;

    color: #1875F0;
    
    border-bottom:  #1875F0 solid;
}

.album-box {
    width: 1140px;
    height: 600px;
    margin: auto;
    border: #F5F5F5 solid 2px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

.title-wrap{
    width: 1140px;
    height: 60px;
    padding-top: 30px;
    border-bottom: #F5F5F5 solid 2px;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    margin-left: 30px;
    margin-right: 40px;
}
.box-title div{
    display: inline-flex;
}

.box-title-label {
    line-height: 30px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #666666;
}

.box-title-icon-box {
    width: 52px;
    height: 30px;
    justify-content: space-between;

}

.box-title-icon-box img {
    width: 12px;
    height: 12px;
    margin: auto;
}

.album-box-wrap {
    width: 1083px;
    overflow: hidden;
    border-right: #F5F5F5 solid 2px;
    margin-left: 30px;
}

.album-box-content {
    width: 1356px;
    height: 512px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

}

.album-item-box {
    width: 152px;
    height: 214px;
}

.album-name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;

    color: #666666;
}

.album-artist {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;

    color: #B3B3B3;
}

.recommend-box {
    height: 150px;
    width: 1142px;
    margin: 30px auto;
    background: #FFFFFF;
}

.recommend-item-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 263px);
    column-gap: 30px;
}

.recommend-item {
    width: 263px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}

#recommend-item-1 {
    background: url(./src/imgs/recommend1.png);
}

#recommend-item-2 {
    background: url(./src/imgs/recommend2.png);
}

#recommend-item-3 {
    background: url(./src/imgs/recommend3.png);
}

#recommend-item-4 {
    background: url(./src/imgs/recommend4.png);
}

.recommend-tag {
    width: 36px;
    height: 20px;

    position: relative;
    margin-top: 10px;
    margin-left: 12px;

    font-family: Roboto;
    font-size: 9px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    color: #FFFFFF;
    border-radius: 4px;
}

.recommend-tag-new {
    background: #1875F0;
}

.recommend-tag-hit {
    background: #F13A30;
}

.recommend-name {
    width: 263px;
    height: 30px;
    text-align: center;

    position: relative;
    top: 70px;


    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;

    color: #FFFFFF;
}

.track-box {
    width: 1140px;
    height: 420px;
    margin: auto;
    border: #F5F5F5 solid 2px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

.track-box-wrap {
    width: 1083px;
    overflow: hidden;
    border-right: #F5F5F5 solid 2px;
    margin-left: 30px;
}

.track-box-content {
    width: 1280px;
    height: 302px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.track-item-box {
    width: 220px;
    height: 62px;
    display: inline-flex;
}

.track-name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;

    color: #666666;
}

.track-artist {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;

    color: #B3B3B3;
}

.track-item-box img{
    height: 62px;
    width: 62px;
}

.track-des {
    margin: auto auto auto 22px;
}

.music-box {

    background: #FFFFFF;
    width: 1440px;
    height: 150px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.music-box-content {
    width: 1067px;
    height: 116px;
    margin: 15px auto 20px;
}

.music-play-progress-box {
    margin: 15px auto 22px;
    height: 30px;
    width: 1066px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-play-progress-box div{
    display: inline-flex;
}

.music-play-progress-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;

    color: #808080;
}

.music-play-progress {
    width: 945px;
    height: 16px;
}

.music-play-progress-container {
    height: 4px;
    width: 945px;
    border-radius: 4px;
    background: #F0F0F0;
    margin: auto;
}

.music-play-cur-progress {
    height: 4px;
    width: 20%;
    border-radius: 4px;
    background: #1875F0;
    z-index: 1;
}

.music-play-progress-tag {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1875F0;
    position: relative;
    right: calc(-100% + 8px);
    top: -6px;
}

.music-control-box {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-control-box div {
    display: inline-flex;
}

.music-control-icons-box-1 {
    width: 182px;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    line-height: 42px;
}

.music-control-song-box {
    width: 312px;
    height: 64px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.music-control-icons-box-1-item{
    width: 42px;
    height: 42px;
    background-size: auto;
}

#control-icon-backwards {
    background: url(./src/icons/forward_icon.png) center center no-repeat;
    transform: rotateY(180deg);
}
#control-icon-play {
    background: url(./src/icons/play_icon.png) center center no-repeat;
    box-sizing: border-box;
    border: 2px solid #F0F0F0;
    border-radius: 50%;
}

#control-icon-forwards {
    background: url(./src/icons/forward_icon.png) center center no-repeat;
}

#control-icon-music {
    background: url(./src/icons/music_icon.png) center center no-repeat;
}

.music-control-song-box div,img{
    display: inline-flex;
}

.song-des {
    flex-direction: column;
    overflow: hidden;
}

.song-name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    
    color: #666666;
}

.song-artist {

    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;

    color: #999999;
}

.song-item-box img{
    height: 64px;
    width: 68px;
}

.music-control-volume-box {
    width: 257px;
    height: 18px;
    justify-content: space-between;
    align-items: center;
}

.music-control-volume-mute-icon {
    width: 18px;
    height: 18px;
    background-size: auto;
    background: url(./src/icons/volume_mute_icon.png)  center center no-repeat;
}

.music-control-volume-icon {
    width: 18px;
    height: 18px;
    background-size: 100%;
    background: url(./src/icons/volume_icon.png) center center no-repeat;
}

.music-control-volume-bar-container{
    width: 168px;
    height: 4px;
    border-radius: 4px;
    background: #F0F0F0;
}

.music-control-cur-volume{
    width: 60%;
    height: 4px;
    border-radius: 4px;
    background: #1875F0;
}

.music-control-cur-volume-tag{
    background: #1875F0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: relative;
    right: calc(-100% + 8px);
    top: -6px;
}

.music-control-icons-box-2 {
    width: 114px;
    height: 21px;
    justify-content: space-between;
    align-items: center;
    line-height: 21px;
}

.music-control-icons-box-2-item {
    height: 20px;
    width: 20px;
    background-size: auto;
}

#control-icon-favorite {
    background: url(./src/icons/favorite_icon.png) center center no-repeat;
}

#control-icon-repeat {
    background: url(./src/icons/repeat_icon.png) center center no-repeat;
}

#control-icon-replay {
    background: url(./src/icons/replay_icon.png) center center no-repeat;
}
